{% extends "main.html" %}

{% block tabs %}
    {{ super() }}
    <link rel="stylesheet" href="assets/stylesheets/home.css">
{% endblock %}

{% block content %}
    <!-- Hero Section -->
    <section class="container">
        <div class="md-grid md-typeset">
            <div class="hero">
                <div class="hero-content">
                    <h1>Welcome to Maghreb vACC!</h1>
                    <p>Welcome to the Maghreb vACC ATC Standard Operating Procedures hub. Here you will find Local Instructions for aerodromes, TCU's, and enroute sectors, as well as other information relevant to providing high-quality virtual ATC services in the Maghreb region.</p>
                    <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
                        Let's get started!
                    </a>
                    <a href="https://maghrebvacc.org/" title="Maghreb vACC Website" class="md-button">
                        Visit Maghreb vACC Website
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Featured Changes Section -->
    <div class="lowerSection">
        <div class="md-grid md-typeset">
            <div class="feature">
                <h2>Featured Changes</h2>

                <div class="cards">
                    <div class="card">
                        <a href="#">
                            <h3>New Enroute Details</h3>
                            <p>New SOPs have been included for some (soon to be all) enroute sectors, which include specific notes relevant to operating each position.</p>
                        </a>
                    </div>

                    <div class="card">
                        <a href="#">
                            <h3>Enhanced Search Function</h3>
                            <p>Need to quickly find information? Our enhanced search function allows you to search for words or phrases. For more specific searches, use "quotes".</p>
                        </a>
                    </div>

                    <div class="card">
                        <a href="#">
                            <h3>Advanced Controller Skills</h3>
                            <p>Looking to enhance your controlling skills? Our training team and subject matter experts have put together advanced level resources for those interested.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}